#infoLogin{ padding:12px 12px 24px 12px;}
#infoLogin input { line-height:24px; height:29px; padding: 0 5px 5px 5px;}
select{ background-color:#FFFFFF; border:2px solid #333366; width:85%; height:29px; line-height:29px; margin-bottom:0px;}
input{ background-color:#FFFFFF; border:2px solid #333366; width:85%; height:15px; margin:0; padding:5px;}
.size1of2{margin-right:4.75%; width:45%; float:left; overflow:hidden; height: 70px;}
.col1of1{ width:100%; float:left; clear:left; margin-top:36px;}
fieldset{clear:left; margin: 0px; border:1px solid #bdc2dc; width:95%; padding:0 12px 12px 12px; background-color:#FFF; background-image:url(images/img_background_fieldset.gif); background-position:0px 8px; background-repeat:repeat-x;}
#hotelReceipt{ margin: 12px 0 12px 0; padding-bottom:0; height:825px;}
#hotelReceipt #btsave{ clear:left; margin: 0;}
select.limited-width {width: 100px; position:static;}

select.expanded-width { width: auto; position:absolute; margin:-15px 0 0 0;}